<div class="col-sm-3" *ngIf="task.exist">
    <div class="card" (click)="statusToggle()" [class.completed]="task.completed" >
        <span class="remove" (click)="deleteTask()"><i class="fa fa-trash" aria-hidden="true"></i></span>        
        <div class="card-block">
            <p>{{ task.content }}</p>
        </div>
        <div class="card-footer">
            <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i>Not Complete</span>
            <span *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i>Completed</span>
        </div>
    </div>
</div>